body {
    background-attachment: fixed, fixed;
	background-image: url("../img/stardust.png");
    background-color: #f4f4f4;
    color: #f8f8f8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}
.container {
    margin: 0 auto;
    max-width: 820px;
}
p {
    margin: 0 0 10px
}
a {
    color: #4099FF;
    text-decoration: none;
    transition: color .15s;
}
br {
    margin-bottom: 20px;
}
a:hover,
a:focus,
a:active {
    color: #2f2f2f;
    border-bottom: 1px dotted #2f2f2f;
}
textarea {
    margin-bottom: 25px;
    height: 85px;
    width: 500px;
    border-radius: 3px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    resize: none;
    overflow: auto;
}
div.centered {
    text-align: center;
}

div.centered table {
    margin: 0 auto;
    text-align: left;
}
.table-space {
    margin-bottom: 25px;
}
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    background-color: rgba(0, 0, 0, .2);
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
.pure-table thead {
    background-color: #f8f8f8;
    color: rgb(60, 60, 60);
    vertical-align: bottom;
}
.pure-table td,
.pure-table th {
    text-align: center;
    border: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
}
.pure-table td {
    height: 20px;
}
.pure-table th {
    height: 35px;
    padding-bottom: 15px;
}
.pure-table tr {
    border: 1px solid rgb(80, 80, 80);
}
.rspan{
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    margin: 0;
}
/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}
.popover {
    border: 1px solid #0E0E0E;
  }
.popover-title {
    background-color: #f8f8f8;
    color: rgb(60, 60, 60);
    font-size: 28px;
    text-align:center;
}
.popover-content {
    background-color: #f8f8f8;
    color: rgb(60, 60, 60);
    padding: 25px;
}
.jumbotron {
    margin: 0px 0;
    text-align: center;
    transition: width .5s, height .5s, margin .5s, padding .5s
}
.jumbotron h1 {
    color: #f8f8f8;
    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 15px 0;
    cursor: default;
    text-rendering: optimizelegibility
}
.jumbotron .lead {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 40px;
    transition: font-size .5s
}
.jumbotron .form-group{
  display: block;
  margin: 0px 0;
  width: 200px;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.btn {
    background: none;
    border: 3px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    color: #f4f4f4;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    padding: 20px 20px;
	margin: 0 10px 25px 10px;
    transition: background .25s, width .5s, height .5s;
    transition: color .10s;
}
.btn:hover,
.btn.drop {
    background: rgba(200, 200, 200, 0.5);
    text-decoration: none;
    color: rgba(20, 20, 20, 0.5);
}
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 8px 14px;
    text-shadow: 0 1px rgba(255, 255, 255, .5);
    text-align: left;
    transition: width .5s, margin .5s, padding .5s, background-color .5s
}
.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #AA4342
}
.alert-info {
    background-color: #E5E5E5;
    border-color: #EAEAEA;
    color: #6C6C6C
}
nav>ul,
nav a {
    color: #f8f8f8;
    list-style: none;
    margin: 0;
    margin-bottom: 75px;
    padding: 0;
    text-align: center
}
nav>ul>li {
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: default
}
nav>ul>li:after {
    content: "|";
    margin: 0 8px;
    opacity: .3
}
nav>ul>li:last-child:after {
    content: "";
    margin: 0
}
section {
    margin-bottom: 40px;
}
@media only screen and (max-device-width: 320px),
only screen and (max-width: 400px) {
    textarea {
        font-size: 18px;
        margin-bottom: 25px;
        height: 85px;
        width: 80%;
    }
    .jumbotron {
        margin: 0px 0px 20px 0px;
    }
    .jumbotron .lead {
        font-size: 18px;
    }
    .jumbotron img {
        max-width: 320px;
    }
    .alert {
        font-size: 13px;
    }
    nav {
        padding: 10px 0;
    }
    nav ul li {
        margin: 0px 0px 12px 0px;
    }
    nav a {
        padding: 15px 5px 0px 5px;
    }

}
